@tailwind base;
@tailwind components;
@tailwind utilities;


.slick-dots li button:before {
  color:#FF6464 !important;
  transform: scale(1.2);
}

.slick-dots li.slick-active button:before {
  color:#FF6464 !important;
}

.text-blue{
    color : #060918;
}

.text-pink{
    color : #FF6464;
}

.bg-blue{
    background-color : #060918;
}

.bg-pink{
    background-color : #FF6464;
}